name: Build and publish package

on:
  push:
    branches:
      - main

jobs:
  build:
    name: Build and publish package
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          install: true

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Lowercase organization name and repository name
        id: lowercase
        run: |
          REPO_NAME=$(echo ${{ github.repository }} | tr '[:upper:]' '[:lower:]')
          echo "REPO_NAME=${REPO_NAME}" >> $GITHUB_OUTPUT

      - name: Build and publish Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: deploy/production/Dockerfile
          tags: |
            ghcr.io/${{ steps.lowercase.outputs.REPO_NAME }}:latest
            ghcr.io/${{ steps.lowercase.outputs.REPO_NAME }}:${{ github.sha }}
          push: true
          platforms: linux/amd64,linux/arm64
          cache-from: type=gha
          cache-to: type=gha,mode=max

  buf:
    name: Generate and push protobuf files to the BSR
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v4
      - uses: bufbuild/buf-setup-action@v1
      - uses: bufbuild/buf-push-action@v1
        with:
          buf_token: ${{ secrets.BUF_TOKEN }}
          input: proto
          create_visibility: public
          draft: false
